@import "bootstrap";

/* blue color background hex: #62b8f5; */

body {
  background-color: #62b8f5;
  color: #38372d;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px #d0d0d0;
  box-shadow: 1px 1px 2px #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-brand {
  background: -webkit-linear-gradient(#62b8f5, #555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
}

footer{
  background-color: #38372d;
  color: #fff;
}

.footer-container {
  padding: 30px;
  margin: 0 auto;
  text-align: center;
}

footer i {
  margin: 0 10px;
  font-size: 1.3rem;
}

.heart-emoji {
  font-size: 0.6rem;
  position: absolute;
  right: 3px;
}

/*.pagination {
  border: 1px black solid;
}*/