@import "bootstrap";
@import "font-awesome";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* blue color background hex: #62b8f5; */

body {
  background-color: #fff;
  color: #fff;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px #d0d0d0;
  box-shadow: 1px 1px 2px #d0d0d0;
  background: #292b2c;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.5);
}

.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
}

footer{
  background-color: #292b2c;
  color: #fff;
  -webkit-box-shadow: -1px 0px 15px 5px #292b2c; 
  -moz-box-shadow: -1px 0px 15px 5px #292b2c;
  box-shadow: -1px 0px 15px 5px #292b2c;
}

.footer-container {
  padding: 30px;
  text-align: center;
}

footer i {
  margin: 0 10px;
  font-size: 1.3rem;
  color: #ccc;
  cursor: crosshair;
}

footer i:hover {
  transition: all 1s;
  transform: scale(1.5);
}

.heart-emoji {
  font-size: 0.6rem;
  position: absolute;
  right: 3px;
  margin-top: 46px;
}

.page-link {
  background-color: #292b2c;
  color: #fff;
}

.page-item.active {
  background-color: #292b2c
}

.page-item.active .page-link {
  background-color: #FFFFFF80; 
  color: #fff !important;
  border: 1px solid #292b2c;
}

img {
  height: 100px;
}
